<html>
    <body>
        <%- include('header'); -%>
        Welcome contact page.....
       <form action="/contact" method="post">
          Name: <input type="text" name="txt1" placeholder="enter your name" >
           Message:<input type="text" name="txt2" placeholder="enter your message" >
           Email:<input type="email" name="txt3" placeholder="enter your email_id">
           <input type="submit" name="submit">
       </form>
        
    </body>
</html>